body{
background-image: url(wallpaperflare.com_wallpaper\ \(7\).jpg);

}

.display{
display: flex;
flex-direction: row;
border: 10px solid rgb(165, 17, 17);
width: 350px;
justify-content: space-around;
font-size: 40px;
border-radius: 50%;
height: 350px;
align-items: center;
color: rgb(255, 255, 255);

}
.control-btn{
display: flex;

width: 30%;
justify-content: space-around;
}
.btns{
padding: 15px 40px 15px 40px;
font-size: 15px;
border: none;
outline: none;
border-radius: 10px;
background-color: rgb(6, 77, 105);
color: white;
cursor: pointer;
}
.btns:active{
background-color: rgb(1, 132, 141);

}
.main-box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 1000px;


}
.big-box{
    display: flex;
    flex-direction: column;

width: 50%;
height: 800px;
justify-content: space-between;
align-items: center;

}




